<ion-header>
  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Shopify Products</ion-title>

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
   <ion-refresher-content></ion-refresher-content>
 </ion-refresher>
<!-- <p>Error: {{errorMessage}}</p> -->
  <div *ngIf="items" class="uimax-category-list">

    <ion-card *ngFor="let item of items" (click)="goToCategory(item)">
<div *ngIf="item?.image?.src">

      <img   src="{{ item?.image?.src}}" alt="" />
    </div>
      <div class="uimax-item-wrapper">
        <div class="card-title">{{ item?.title }}</div>
        <div class="card-subtitle">Type: {{ item?.product_type }}</div>
        <div class="card-subtitle">published: {{ item?.published_at }} </div>
      </div>
    </ion-card>
  </div>
  <ion-fab right bottom>
     <button (click)="scan()" ion-fab>
       <ion-icon name="barcode"></ion-icon>
     </button>
   </ion-fab>
</ion-content>
