page-home {

	/* CATEGORY */
	.uimax-category-list {

	  .uimax-item-wrapper{
        display: inline-block;
        position: absolute;
    	left: 15px;
    	bottom: 15px;
        z-index: 1;

        .card-title {
          font-size: 24px;
          font-weight: 700;
          line-height: 1;
          text-transform: uppercase;
          color: #FFFFFF;
          margin: 0;
          text-shadow: 0 0 20px rgba(0,0,0,0.8);
        }

        .card-subtitle {
          color: rgba(255,255,255,0.9);
          margin: 0 0 7px;
          text-shadow: 0 0 20px rgba(0,0,0,0.8);
        }
      }
	}

	/* CATEGORY */

}
